body {
    background-color: powderblue;
    color: brown;
    font-family: sans-serif;
    line-height: 1.6;
}

/* Headings */
h1 {
    text-align: center;
    color: brown;
    background-color: powderblue;
}

h2 {
    color: black;
    font-size: 1.5rem;
    margin-bottom: 20px;
}
h3 {
    color: black;
    border-bottom: 5px;
    padding-bottom: 5px;
    margin: 5px;
    font-size: 1.5rem;
}
h4{
    font-size: 1.6rem;
}

/* gallery */
.gallery {
    gap: 30px;
    margin:20px
}
 
img {
    border-spacing: 15px;
    border-radius: 8px;
    margin: 10px;
    object-fit: cover;
}

/* contact*/
ul {
    list-style-type: circle;
    padding:0;
    font-size: 1.0rem;
    color: black;
    text-decoration: dotted;
}










